/* This file contains the CSS styles for the form component. */

.custom-input,
.custom-input:focus {
  background-color: white !important;
  border: 2px solid black !important;
  border-radius: 1.5rem !important;
  box-shadow: none !important;
  color: black !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.custom-input::placeholder {
  color: #aaa;
}

.textarea.custom-input {
  min-height: 120px;
}

.contact-form .label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Form validation styling */
.custom-input.is-danger {
  border-color: #f14668 !important;
}

.custom-input.is-success {
  border-color: #48c774 !important;
}
